# ============================================
# .env.example - shilyciaDEV Config Template
# ============================================

# Aplikasi Node.js
PORT=8080
NODE_ENV=production

# Root Workspace Folder (opsional, script bisa mendeteksi otomatis)
# WORKSPACE_DIR=/var/www/prototype_porto

# Script Bash (deploy.sh)
DOMAIN=nadyakhiarapurnomo.my.id
SERVER_IP=43.173.33.116
